# Virtual Environment
.venv/

# Environment / Data (Large files)
data/mnist_preprocessed.npz

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
